@model IEnumerable<HRDesk.Models.Vacancy>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.E*, AuthoringTagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.Email*, AuthoringTagHelpers
@{
    ViewData["Title"] = "Vacancies";
}

<div class="container mt-5">
    <h2>Vacancies</h2>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Вакансия</th>
                <th scope="col">Дата открытия</th>
                <th scope="col">Планируемая дата закрытия</th>
                <th scope="col">Закрыта</th>
                <th scope="col">Количество интервью</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vacancy in Model)
            {
                <tr>
                    @if (vacancy.OpenDate > vacancy.ClosedDate)
                    {
                        <th scope="row">@vacancy.Id</th>
                        <td>@vacancy.Name</td>
                        <td>@vacancy.OpenDate</td>
                        <td>@vacancy.DesiredClosingDate</td>

                        @if (User.IsInRole("admin"))
                        {
                            <td>
                                <form asp-action="DeleteVacancy" asp-controller="Vacancies" method="post">
                                    <input type="hidden" name="id" value="@vacancy.Id">
                                    <button class="btn btn-danger">Закрыть вакансию</button>
                                </form>

                            </td>
                        }

                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container mt-5">
    <a asp-action="CreateVacancy" asp-controller="Vacancies">Создать вакансию</a>
</div>
